@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Demo feature</h1>
    <p>Learn about <a href="https://github.com/microsoft/FeatureManagement-Dotnet">feature management.</a>.</p>
</div>
